nav {
    margin: 0px;
}

.navbar-brand {
    color: white;
}

#offcanvas-right-title {
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-image {
    height: 200px;
    align: center;
}

.card-text {
    font-size: 15px;
}

.weather-icon {
    width: 30px;
    height: 30px;
}

.btn btn-outline-dark btn-sm{
    align: center;
}